

     <!-- Footer styles Start -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-section">
                    <div class="col-sm-4">
                        <div class="single-secton">
                            <h3> Newsletter</h3>
                            <div class="form">
                                <div class="form-group">
                                    <input placeholder="Saisir l'adresse email" id="exampleInputName1" class="form-control first" type="text">
                                </div>
                                <input class="bttn" value="Enregistrer" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-secton">
                            <h3>Suivez-nous!</h3>
                            <ul>
                                <li class="facebook"><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                <li class="linkedin"><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
                                <li class="google"><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                                <li class="youtube"><a href="javascript:void(0)"><i class="fa fa-youtube-play"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-secton">
                            <h3>Besoin d'aide?</h3>
                            <p><i class="fa fa-phone"></i> Appel : <span>1800-0000-1234</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="single-section-two"> <img src="http://railsinfo.fr/img/Logo.png" alt="">
                        <p>Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi.</p>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <div class="single-section-two white">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">A propos</a></li>
                            <li><a href="#">Centre d'aide</a></li>
                            <li><a href="#">Contactez-nous</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <div class="single-section-two white">
                        <h3>Liens rapide</h3>
                        <ul>
                            <li><a href="#">Comment ça marche?</a></li>
                            <li><a href="#">Postuler</a></li>
                            <li><a href="#">Modifier le profil</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="single-section-two">
                        <h3>Envoyer un message</h3>
                        <div class="form">
                            <div class="form-group">
                                <input placeholder="Saisir le nom" id="exampleInputName2" class="form-control first" type="text">
                            </div>
                            <div class="form-group">
                                <input placeholder="Saisir l'adresse email" id="exampleInputEmail" class="form-control first" type="text">
                            </div>
                            <div class="form-group">
                                <input placeholder="Saisir le message" id="exampleInputMessage" class="form-control first message" type="text">
                                <input class="bttn" value="Subscribe" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer styles End --> 
    <!-- Copyright styles End -->


    <!-- Railsdiv --> 


    <div class="copyright-wrapper">
        <div class="container">
            <p>© Copyright 
                <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript">
                    var d = new Date();
                    document.write(d.getFullYear());
                </script>2018 
                RailsInfo | All Rights Reserved.</p>
        </div>
    </div>
    <!-- Copyright styles End --> 

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 

<script src="{{ asset('assets/jquery/jquery-3.1.1.min.js') }}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/jquery/plugins.js') }}"></script>
<script src="{{ asset('assets/jquery/jquery.animateNumber.min.js') }}"></script>
<script src="{{ asset('assets/jquery/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('assets/owl-carousel/js/owl.carousel.js') }}"></script>
<script src="{{ asset('assets/wow/wow.min.js') }}"></script>
<script src="{{ asset('js/custom.js') }}"></script>